.dashboard-item-league_table {
  table {
    width: 100%;
    border-collapse: collapse;

    td, th {
      padding: 4px;
      text-align: center;
    }

    th {
      padding: 10px 4px;
      text-shadow: 0 1px 0 white;
    }

    tr:nth-child(odd) {
      background: #eaeaea;
    }

    tr:nth-child(1) {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e3e3e3));
      border-bottom: 1px solid #ccc;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    td.team, th.team {
      text-align: left;
      padding-left: 10px;
    }

    td.team {
      font-weight: normal;
    }
  }
}
