@mixin retina-bg($image, $width, $height, $type: 'png') {
  background-image: url("#{$image}.#{$type}");

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    background-image: url("#{$image}@2x.#{$type}");
    background-size: $width $height;
  }
}

@mixin white-box {
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  box-sizing: border-box;
}
