// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "boxes/schedule";
@import "boxes/table";

#content {
  padding-right: 20px;
}

.dashboard-container {
  float: left;
  margin-bottom: 20px;
  position: relative;

  @media only screen and (max-width: 600px) {
    width: 100%;
    min-width: 240px;
    max-width: 400px;
    float: none;
    margin: 0 auto;
  }

  @media only screen and (min-width: 601px)
                     and (max-width: 890px) {
    width: 50%;
  }

  @media only screen and (min-width: 891px)
                     and (max-width: 1220px) {
    width: 33%;

    &:nth-child(3n) {
      width: 34%;
    }
  }

  @media only screen and (min-width: 1221px)
                     and (max-width: 1550px) {
    width: 25%;
  }

  @media only screen and (min-width: 1551px)
                     and (max-width: 1880px) {
    width: 20%;
  }
}

.dashboard-item {
  background: #f8f8f8;
  border-radius: 4px;
  margin-left: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  padding-bottom: 39px;
  box-sizing: border-box;
  overflow: auto;
}

#content .control {
  background: #d6d6d6;
  border-top: 1px solid #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cbcbcb));
  line-height: 39px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 0px;

  h3 {
    padding: 0 13px;
    border-top: 1px solid #ebebeb;
    color: #454545;
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.1em;

    a {
      float: right;
      line-height: 39px;
      margin-left: 10px;
      color: #585858;

      &:hover {
        text-decoration: none;
        color: #0097c2;
      }
    }
  }

  .shade {
    position: absolute;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    opacity: 0.2;
    pointer-events: none;
    height: 24px;
    width: 100%;
    top: -24px;
  }
}
