// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-item {
  width: 33%;
  background: #f8f8f8;
  border-radius: 4px;
  margin-left: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.dashboard-item-schedule {
  li {
    padding: 14px 17px;
    border-bottom: 1px solid #e1e1e1;
    list-style-type: none;

    &:first-child {
      border-bottom-width: 10px;
    }

    &.win {
      background-color: $win;
      border-bottom-color: borderize($win);
    }
    
    &.loss {
      background-color: $loss;
      border-bottom-color: borderize($loss);
    }

    &.tie {
      background-color: $tie;
      border-bottom-color: borderize($tie);
    }

    h3 {
      font-size: 24px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .seed {
        font-size: 14px;
        color: #959595;
      }

      .score {
        color: #626262;
        float: right;
      }
      
      .game-order, .game-attendance {
        float: right;
        line-height: 22px;
      }
      
      .game-order {
        font-size: 18px;
        font-weight: 300;
        float: right;
        color: #848484;
      }

      .game-attendance {
        font-size: 14px;
        font-weight: normal;

        &.yes i {
          color: $attending;
        }

        &.no i {
          color: $not-attending;
        }

        .button {
          color: white;
          padding: 4px 6px;
          border-radius: 3px;

          &.green {
            background: $attending;
          }

          &.red {
            background: $not-attending;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
    h4 {
      text-align: center;
      padding-top: 10px;
      font-size: 12px;

      a {
        color: #555;
      }
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: 0;
    }

    &.control {
      background: #d6d6d6;
      border-top: 1px solid #ebebeb;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cbcbcb));
      padding: 0px 13px;
      line-height: 39px;

      h3 {
        color: #454545;
        font-size: 18px;
        text-shadow: 0 1px 1px rgba(255,255,255,0.8);
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
        letter-spacing: 0.1em;

        a {
          float: right;
          line-height: 39px;
          margin-left: 6px;
          color: #585858;

          &:hover {
            text-decoration: none;
            color: #0097c2;
          }
        }
      }
    }
  }
}
