/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 */

@import "colors";
@import "mixins";
@import "typography";

* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

body {
  @include retina-bg('background', 64px, 64px);
  @include body-text;
}

a {
  color: #55a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.colored_name {
  padding: 1px 3px;
  margin: -1px -3px;
}

nav {
  line-height: 55px;
  background: #222;
  margin-bottom: 20px;
  padding: 0 20px;
  color: white;
  font-size: 14px;

  #home {
    display: block;
    float: left;
    text-indent: -9999px;
    margin: 6px 10px 0 0;
    width: 47px;
    height: 42px;
    @include retina-bg('logo', 47px, 42px);
    opacity: 0.9;
    -webkit-transition: opacity 0.1s linear;

    &:hover {
      opacity: 1.0;
    }
  }

  a:last-child {
    color: white;
  }
}

@import "boards";
@import "games";
@import "players";
@import "teams";
@import "trades";
