// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reports {
  #content {
    padding: 0 20px;
  
    .page {
      max-width: 900px;
      margin: 0 auto;
    }
  }

  li {
    list-style-type: none;
    margin-bottom: 5px;
    min-height: 20px;
  }

  li div {
    border-radius: 3px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
  }

  .sub-color-0 {
    background: #b9a4ff;
  }

  .sub-color-1 {
    background: #dc9dff;
  }

  .sub-color-2 {
    background: #ffff98;
  }

  .sub-color-3 {
    background: #ffed98;
  }

  .sub-color-4 {
    background: #98ffff;
  }

  .sub-color-5 {
    background: #a3bfff;
  }

  .sub-color-6 {
    background: #ffdd98;
  }

  .sub-color-7 {
    background: #ffc798;
  }

  li.player {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;

    &:hover, &.dragging {
      background: #cccc88;
    }

    &.dragging {
      position: relative;
      z-index: 9999;
    }
  }

  #match-reporter {
    position: relative;

    ul.floating {
      width: 50px;
      position: absolute;
      left: 0;
      top: 27px;
      bottom: 0;
      padding-top: 5px;
      background: rgba(0,0,0,0.7);

      li {
        padding: 5px;
        box-sizing: border-box;
        color: white;
        text-align: center;
      }
    }

    ul.positions {
      padding: 0 5px 1px 54px;
      background: #eee;

      li.time {
        color: #eee;
        padding-top: 5px;
        padding-bottom: 2px;
        margin-left: -54px;
        padding-left: 54px;
        background: #454545;
      }
    }
  }
}

.reports {
  .buttons {
    .home-team, .away-team {
      padding: 10px 0;
    }

    .home-team {
      float: left;
    }

    .away-team {
      float: right;
    }
  }

  h2 {
    text-align: center;

    .home-team {
      float: left;
    }

    .away-team {
      float: right;
    }
  }

  .goals {
    clear: both;

    & > div {
      padding: 5px;
      margin-bottom: 5px;
      border-radius: 4px;
      overflow: hidden;

      .errors {
        background: $loss;
        border: 1px solid borderize($loss);
        color: darken($loss, 70);
        border-radius: 3px;
        padding: 4px 8px;
        float: right;
        min-width: 40%;
        
        form {
          display: block;
        }

        &:empty {
          display: none;
        }

        li {
          list-style-position: inside;
        }
      }

      &.away .errors {
        float: left;
        text-align: left;
      }
    }

    .away {
      text-align: right;
      background: #eee;

      form {
        text-align: left;
      }
    }

    form {
      display: inline-block;
      overflow: hidden;

      .field {
        float: left;
        margin: 0 3px;

        input {
          padding: 3px;
          border-radius: 3px;
          border: 1px solid #eee;
        }

        .problem {
          border: 1px solid borderize($loss);
          background: $loss;
        }

        label {
          display: block;
          font-size: 12px;
        }

        .goal-time {
          width: 40px;
        }

        select {
          width: 100px;
        }
      }
    }

    .delete-goal {
      line-height: 34px;
      vertical-align: 11px;
      padding: 0 5px;
      float: right;
    }
  }
}
